body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0077b6, #00b4d8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


a {
  text-decoration: none;
}


.profile-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background: #fff;
  width: 380px;
  padding: 35px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.profile-card h2 {
  color: #0077b6;
  margin-bottom: 5px;
}

.subtitle {
  color: #666;
  margin-bottom: 25px;
}

.input-group {
  text-align: left;
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-family: Arial, sans-serif;
}

.input-group textarea {
  resize: none;
  height: 80px;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #0077b6;
}


.btn-group {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

button {
  flex: 1;
  padding: 12px;
  background: linear-gradient(to right, #0077b6, #00b4d8);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.cancel-btn {
  flex: 1;
  padding: 12px;
  background: #ccc;
  border-radius: 10px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.cancel-btn:hover {
  background: #b3b3b3;
}
