body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f9ff;
}

.header {
  background: linear-gradient(to right, #0077b6, #00b4d8);
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.dashboard {
  padding: 40px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;

}

.card {
  background: #fff;
  width: 220px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  
}

h4 a {
  color: #0077b6;
  text-decoration: none;
}
