body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f9ff;
}


.header {
  background: linear-gradient(to right, #0077b6, #00b4d8);
  color: #fff;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.logo {
  margin: 0;
}


.header-container h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  transition: 0.3s;
}

.menu a:hover,
.menu .active {
  color: #caf0f8;
}

.logout {
  background: hsl(217, 67%, 48%);
  padding: 6px 12px;
  border-radius: 6px;
}


.dashboard {
  padding: 50px 20px;
  text-align: center;
}

.dashboard h3 {
  margin-bottom: 40px;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  width: 230px;
  padding: 30px 20px;
  border-radius: 14px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h4 {
  margin-bottom: 10px;
}

.card p {
  color: #555;
  font-size: 14px;
}

.card h4 a {
  color: #0077b6;
  text-decoration: none;
  font-size: 18px;
}

